
<body>
  <div class="row">
    <p class='col-12'>My Bulk Discounts</p>
  </div>

  <div class="row">
  <div class="col-12">
  <div id="bulk-discounts-section">
    <h2>Bulk Discounts</h2>
    <ul>
      <% @bulk_discounts.each do |bulk_discount| %>
        <div class="bulk-discount">
          <%= link_to "#{bulk_discount.name} - #{bulk_discount.percentage_discount}% off #{bulk_discount.quantity_threshold} items", merchant_bulk_discount_path(@merchant, bulk_discount) %>
          <%= button_to "Delete", merchant_bulk_discount_path(@merchant, bulk_discount), method: :delete, data: { confirm: "Are you sure you want to delete this bulk discount?" }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %>
  </div>
</div>
</div>

</body>